library/*
modules/*
var/*
config/*
# it's suggested that you do git update-index --assume-unchanged 
# on config/kernel.conf.php so you don't accidentally commit your 
#database info or configuration
!config/kernel.conf.php
